/* brings down Lato to the body*/
body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

/* modify the header bar thing*/
hr {      
	display: block;
	height: 1px;
	border: 0;
	border-top: 5px solid #7d97ad;
	margin: 1em 0;
	padding: 0;
}

.img {
	margin-right: Shorthand;
	margin-left: Shorthand;
	margin-bottom: Set;
	display: inline;
}


/* center my page */
#wrapper {  
	max-width: 1200px;
	margin: 0 auto;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin
{
	font-weight: 100;
}

.title-logo {
	margin-top: 20px;
}

.img-rounded {
	border-radius: 6px;
}


/* make my SVG responsive */
.svg-fluid {
  border: 1px;
  max-width: 20%;
  max-height: 20%;
  margin: 0 auto;
}

img:not(.png) {
  width: 100%;
}				

/*make my typography responsive*/


  @media only screen and (min-width: 320px) 
  {
  	.title-super {font-size: 3em;}
  	.title {text-align: center;}
  }



   @media only screen and (min-width: 321px) and (min-width: 768px)
  {
  	.title-super {font-size: 3em;}
  	.title {text-align: center;}

  	


  }
  
  @media only screen and (min-width: 769px)
  {
    .title-super {font-size: 60px}
    .title {text-align: right;}	
    .image-badge {display: flex; justify-content: center;}
    
  } 
 
  
