/* Brings down Lato to the body*/
body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

/* Modify the header bar thing*/
hr {      
	display: block;
	height: 1px;
	border: 0;
	border-top: 5px solid #7d97ad;
	margin: 1em 0;
	padding: 0;
}


/* Center my page */
#wrapper {  
	max-width: 1200px;
	margin: 0 auto;
}

.text-muted {
	color: #BCBBBB;
}
.text-thin
{
	font-weight: 100;
}
.title-super {
	font-size: 4.17vw;
}

.title-logo {
	margin-top: 20px;
	display: wrap;
}

/* Make my SVG responsive */
.svg-fluid {
  display: wrap;
  border: 1px;
  max-width: 20%;
  max-height: 20%;
  margin: 0 auto;
}
img:not(.png) {
  width: 100%;
}				

/*Make my typography responsive*/
h2 {font-size:2.04vw;}
h3 {font-size:1.71vw;}
h4 {font-size:1.53vw;}
p  {font-size:1.20vw;}